:root {
    --tamanho: 500px;
}

* {box-sizing: border-box;}

h1 {text-align: center;}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}

div {
    background-color: lightgreen;
    width: 400px;
    height: 50px;
    border: 2px solid black;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pai-1 {margin-left: calc(50vw - 30px);}

.pai-2 {width: calc(100vw - 25px);}

.pai-3 {width: calc(var(--tamanho) / 2);}

.pai-4 {width: calc(var(--tamanho) * 1.25);}

.pai-5 {font-size: calc(var(--tamanho) * 0.05);}

.pai-2 , .pai-3 , .pai-4 , .pai-5 {margin-left: 0px;}