body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
}

fieldset {
    margin-bottom: 30px;
}

.field1 {
    text-align: left;
}

.field2 {
    border: 3px dashed red;
}

.field2 legend {
    color: red;
    font-size: 20px;
    text-align: center;
}

.field3 {
    border: 10px double green;
}

.field3 legend {
    color: green;
    font-size: 40px;
    font-weight: bold;
    text-align: right;
}

.field4 {
    border: 2px solid black;
    border-radius: 40px;
}

.field4 legend {
    border: 2px solid black;
    text-align: center;
    background-color: red;
    border-radius: 40px;
    padding: 10px 20px;
    color: white;
}
