h1 {
    text-align: center;
}

div {
    border: 2px solid black;
    margin-top: 20px;
    height: 30px;
}

#px {
    background-color: red;
    width: 350px;
}

#cm {
    background-color: green;
    color: white;
    width: 12cm;
}

#mm {
    background-color: blue;
    width: 150mm;
}

#in {
    background-color: yellow;
    width: 7in;
}

#pt {
    background-color: orange;
    width: 300pt;
}

#pc {
    background-color: rgb(243, 121, 202);
    width: 32pc;
}




