body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    text-align: center;
}

.pai {
    background-color: lightgreen;
    width: 400px;
    height: 400px;
    margin: auto;
    margin-bottom: 40px;
    border: 5px solid black;
    box-sizing: border-box;
    
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.filha {
    background-color: lightsalmon;
    border: 2px solid black;
    padding: 5px;
    height: 90px;
    width: 90px;
}

#pai-1 {row-gap: 20px;}
#pai-2 {column-gap: 20px;}
#pai-3 {gap: 20px;}
